*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--border-test: solid 1px blue;
	--score-color: #f9fbfa;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo-score-container {
	min-width: 30rem;
	width: 100%;
	height: 8rem;
	max-width: 60%;
	border: 2px solid rgb(177, 175, 175);
	border-radius: 10px;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score-container {
	height: 100%;
	width: 7rem;
	padding-bottom: 0.2rem;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #f9fbfa;
	color: #636665;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.score-container > p:first-child {
	letter-spacing: 0.2rem;
}
.score-container > p:last-child {
	/* border: var(--border-test); */
	height: auto;
	font-size: 4rem;
	line-height: 1;
}

.play-icon-container {
	padding: 2rem;
	width: 150px;
	background-color: white;
	height: auto;
	border-width: 1rem;
	border-style: solid;
	border-radius: 50%;
}

.game-container img {
	width: 100%;
	height: auto;
}
